@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@font-face {
  font-family: "Alegreya SC";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/alegreyasc-bold-webfont.woff2") format("woff2"), url("/fonts/alegreyasc-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("/fonts/sourcesanspro-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("/fonts/sourcesanspro-semibold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("/fonts/sourcesanspro-bold-webfont.woff") format("woff");
}
:root {
  --neutral-10: hsl(0, 0%, 10%);
  --neutral-11: hsl(0, 0%, 11%);
  --neutral-15: hsl(0, 0%, 15%);
  --neutral-20: hsl(0, 0%, 20%);
  --neutral-30: hsl(0, 0%, 30%);
  --neutral-35: hsl(0, 0%, 35%);
  --neutral-40: hsl(0, 0%, 40%);
  --neutral-60: hsl(0, 0%, 60%);
  --neutral-70: hsl(0, 0%, 70%);
  --neutral-75: hsl(0, 0%, 75%);
  --accent-10: hsl(0, 0%, 10%);
  --accent-11: hsl(0, 0%, 11%);
  --accent-15: hsl(0, 0%, 15%);
  --accent-20: hsl(0, 0%, 20%);
  --accent-30: hsl(0, 0%, 30%);
  --accent-35: hsl(0, 0%, 35%);
  --accent-40: hsl(0, 0%, 40%);
  --accent-60: hsl(0, 0%, 60%);
  --accent-70: hsl(0, 0%, 70%);
  --accent-75: hsl(0, 0%, 75%);
  --accent-90: hsl(0, 0%, 90%);
  --accent-95: hsl(0, 0%, 95%);
  --accent-97: hsl(0, 0%, 97%);
  --accent-99: hsl(0, 0%, 99%);
  --accent-100: hsl(0, 0%, 100%);
  --primary-60: hsl(75, 100%, 60%);
  --primary-65: hsl(75, 100%, 65%);
  --primary-70: hsl(75, 100%, 70%);
  --primary-80: hsl(75, 100%, 80%);
  --primary-90: hsl(75, 100%, 90%);
  --primary-95: hsl(75, 100%, 95%);
  --primary-97: hsl(75, 100%, 97%);
  --primary-99: hsl(75, 100%, 99%);
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875rem;
  --fs-38: 2.375rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
}
@media screen and (min-width: 65em) {
  :root {
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-26: 1.625rem;
    --fs-28: 1.75rem;
    --fs-30: 1.875rem;
    --fs-38: 2.375rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: var(--fs-16);
  color: var(--neutral-70);
  background-color: var(--neutral-10);
  line-height: 1.5;
}

a {
  color: var(--neutral-70);
}

a:is(:hover, :focus) {
  color: var(--neutral-70);
}

.c-button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: "Lexend", sans-serif;
  font-size: var(--fs-14);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.75em 2em;
  border: 0;
  border-radius: 0.5rem;
  transition: 275ms ease;
}
.c-button[data-type=accent] {
  background-color: var(--neutral-15);
  color: var(--neutral-10);
}
.c-button[data-type=accent]:is(:hover, :focus) {
  background-color: var(--neutral-15);
  color: var(--neutral-10);
}
.c-button[data-type=primary] {
  background-color: var(--primary-60);
  color: var(--neutral-11);
}
.c-button[data-type=primary]:is(:hover, :focus) {
  background-color: var(--primary-70);
  color: var(--neutral-11);
}

.c-card {
  display: grid;
  gap: 0.5rem;
  padding: 2rem;
  background-color: var(--neutral-11);
  font-family: "Lexend", sans-serif;
  color: var(--neutral-70);
  line-height: 1.25;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.012), 0px 22px 18px rgba(0, 0, 0, 0.018), 0px 100px 80px rgba(0, 0, 0, 0.03);
  border-radius: 1rem;
}
.c-card__heading {
  font-size: var(--fs-20);
  color: var(--neutral-70);
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.1;
}

.c-heading-1 {
  font-size: var(--fs-38);
  color: var(--accent-100);
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.1;
}

.c-heading-2 {
  font-size: var(--fs-24);
  color: var(--accent-100);
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.1;
}

.c-heading-3 {
  font-size: var(--fs-20);
  color: var(--accent-100);
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.1;
}

.c-site-header {
  color: var(--accent-100);
  background-color: var(--neutral-10);
  padding: 2rem 0;
}
.c-site-header__inner {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 45em) {
  .c-site-header__inner {
    justify-content: space-between;
  }
}

nav {
  list-style: none;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: var(--fs-14);
}
nav a {
  color: var(--accent-100);
  text-decoration: none;
}
nav a:is(:hover, :focus) {
  color: var(--accent-100);
}

.c-contact-form .form-group {
  display: grid;
}
.c-label {
  color: var(--neutral-70);
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-size: var(--fs-16);
}
.c-input:not(.button) {
  font-size: var(--fs-16);
  font-weight: 500;
  color: var(--neutral-70);
  background-color: var(--neutral-11);
  padding: 0.75rem;
  border: 3px solid var(--neutral-15);
  border-radius: 0.5rem;
}

::-moz-placeholder {
  color: var(--neutral-35);
  font-weight: 500;
  font-family: "Lexend", sans-serif;
}

::placeholder {
  color: var(--neutral-35);
  font-weight: 500;
  font-family: "Lexend", sans-serif;
}

.c-site-footer {
  background-color: var(--neutral-10);
  color: var(--accent-90);
}
.c-site-footer a {
  color: var(--accent-90);
  text-decoration: none;
  font-family: "Lexend", sans-serif;
  letter-spacing: 0;
}
.c-site-footer a:is(:hover, :focus) {
  color: var(--accent-90);
}

.nav_container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: var(--neutral-11);
  border: 2px solid var(--neutral-15);
  border-radius: 100px;
  padding: 1rem 1.625rem;
  overflow: hidden;
}

.navbar {
  height: 60px;
  position: relative;
  margin-bottom: 60px;
}

.logo {
  background-color: var(--neutral-11);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: -moz-max-content;
  min-width: max-content;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-elements ul li {
  margin-right: 1.625rem;
  padding: 0.625rem 1.125rem;
  transition: background-color 0.5s ease-in-out;
}

.nav-elements ul li.active {
  border-radius: 82px;
  border: 1px solid;
  border-color: var(--neutral-15);
  background-color: var(--neutral-15);
}

.nav-elements ul li:hover {
  position: relative;
}

@media (max-width: 850px) {
  .nav_container {
    margin: 0 1rem;
    background-color: var(--neutral-11);
  }
  .menu-icon {
    display: block;
    cursor: pointer;
    background-color: var(--primary-60);
    padding: 0.375rem 0.875rem;
    border-radius: 5.125rem;
    font-weight: bold;
  }
  .nav-elements {
    position: fixed;
    z-index: 99;
    right: -10px;
    top: 60px;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  .nav-elements.active {
    width: 100%;
    right: 0;
    border: 2px solid var(--neutral-700);
    border-radius: 8px;
  }
  .nav-elements ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-elements ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem 1.25rem;
    margin: 0 2rem;
  }
}
.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero__left {
  flex-basis: 50%;
}
.hero__left-label {
  display: flex;
  padding: 0.5rem 1rem;
  gap: 0.25rem;
  border-radius: 3.75rem;
  font-weight: 300;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
}
.hero__left-title {
  line-height: 150%;
  margin-bottom: 0.625rem;
}
.hero__left-desc {
  margin-bottom: 2.5rem;
  line-height: 150%;
}
.hero__left-button {
  border: none;
  padding: 0.875rem 1.5rem;
  border-radius: 5.125rem;
}

.c-even-columns {
  display: grid;
  gap: var(--grid-gap, 1.5rem);
}
@media screen and (min-width: 45em) {
  .c-even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.c-grid-auto-fit {
  display: grid;
  gap: var(--grid-gap, 1.5rem);
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}

.conatainer-main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.clr-neutral-10 {
  color: var(--neutral-10);
}

.bg-neutral-10 {
  background-color: var(--neutral-10);
}

.clr-neutral-11 {
  color: var(--neutral-11);
}

.bg-neutral-11 {
  background-color: var(--neutral-11);
}

.clr-neutral-15 {
  color: var(--neutral-15);
}

.bg-neutral-15 {
  background-color: var(--neutral-15);
}

.clr-neutral-20 {
  color: var(--neutral-20);
}

.bg-neutral-20 {
  background-color: var(--neutral-20);
}

.clr-neutral-30 {
  color: var(--neutral-30);
}

.bg-neutral-30 {
  background-color: var(--neutral-30);
}

.clr-neutral-35 {
  color: var(--neutral-35);
}

.bg-neutral-35 {
  background-color: var(--neutral-35);
}

.clr-neutral-40 {
  color: var(--neutral-40);
}

.bg-neutral-40 {
  background-color: var(--neutral-40);
}

.clr-neutral-60 {
  color: var(--neutral-60);
}

.bg-neutral-60 {
  background-color: var(--neutral-60);
}

.clr-neutral-70 {
  color: var(--neutral-70);
}

.bg-neutral-70 {
  background-color: var(--neutral-70);
}

.clr-neutral-75 {
  color: var(--neutral-75);
}

.bg-neutral-75 {
  background-color: var(--neutral-75);
}

.clr-accent-10 {
  color: var(--accent-10);
}

.bg-accent-10 {
  background-color: var(--accent-10);
}

.clr-accent-11 {
  color: var(--accent-11);
}

.bg-accent-11 {
  background-color: var(--accent-11);
}

.clr-accent-15 {
  color: var(--accent-15);
}

.bg-accent-15 {
  background-color: var(--accent-15);
}

.clr-accent-20 {
  color: var(--accent-20);
}

.bg-accent-20 {
  background-color: var(--accent-20);
}

.clr-accent-30 {
  color: var(--accent-30);
}

.bg-accent-30 {
  background-color: var(--accent-30);
}

.clr-accent-35 {
  color: var(--accent-35);
}

.bg-accent-35 {
  background-color: var(--accent-35);
}

.clr-accent-40 {
  color: var(--accent-40);
}

.bg-accent-40 {
  background-color: var(--accent-40);
}

.clr-accent-60 {
  color: var(--accent-60);
}

.bg-accent-60 {
  background-color: var(--accent-60);
}

.clr-accent-70 {
  color: var(--accent-70);
}

.bg-accent-70 {
  background-color: var(--accent-70);
}

.clr-accent-75 {
  color: var(--accent-75);
}

.bg-accent-75 {
  background-color: var(--accent-75);
}

.clr-accent-90 {
  color: var(--accent-90);
}

.bg-accent-90 {
  background-color: var(--accent-90);
}

.clr-accent-95 {
  color: var(--accent-95);
}

.bg-accent-95 {
  background-color: var(--accent-95);
}

.clr-accent-97 {
  color: var(--accent-97);
}

.bg-accent-97 {
  background-color: var(--accent-97);
}

.clr-accent-99 {
  color: var(--accent-99);
}

.bg-accent-99 {
  background-color: var(--accent-99);
}

.clr-accent-100 {
  color: var(--accent-100);
}

.bg-accent-100 {
  background-color: var(--accent-100);
}

.clr-primary-60 {
  color: var(--primary-60);
}

.bg-primary-60 {
  background-color: var(--primary-60);
}

.clr-primary-65 {
  color: var(--primary-65);
}

.bg-primary-65 {
  background-color: var(--primary-65);
}

.clr-primary-70 {
  color: var(--primary-70);
}

.bg-primary-70 {
  background-color: var(--primary-70);
}

.clr-primary-80 {
  color: var(--primary-80);
}

.bg-primary-80 {
  background-color: var(--primary-80);
}

.clr-primary-90 {
  color: var(--primary-90);
}

.bg-primary-90 {
  background-color: var(--primary-90);
}

.clr-primary-95 {
  color: var(--primary-95);
}

.bg-primary-95 {
  background-color: var(--primary-95);
}

.clr-primary-97 {
  color: var(--primary-97);
}

.bg-primary-97 {
  background-color: var(--primary-97);
}

.clr-primary-99 {
  color: var(--primary-99);
}

.bg-primary-99 {
  background-color: var(--primary-99);
}

.fs-14 {
  font-size: var(--fs-14);
}

.fs-16 {
  font-size: var(--fs-16);
}

.fs-18 {
  font-size: var(--fs-18);
}

.fs-20 {
  font-size: var(--fs-20);
}

.fs-24 {
  font-size: var(--fs-24);
}

.fs-26 {
  font-size: var(--fs-26);
}

.fs-28 {
  font-size: var(--fs-28);
}

.fs-30 {
  font-size: var(--fs-30);
}

.fs-38 {
  font-size: var(--fs-38);
}

.fs-40 {
  font-size: var(--fs-40);
}

.fs-48 {
  font-size: var(--fs-48);
}

.section {
  padding-block: clamp(5rem, 10vh, 6rem);
}

.mx-auto {
  margin-inline: auto;
}

.margin-1 {
  margin: 0.25rem;
}
.margin-block-start-1 {
  margin-block-start: 0.25rem;
}
.margin-block-end-1 {
  margin-block-end: 0.25rem;
}
.margin-block-1 {
  margin-block: 0.25rem;
}
.margin-inline-start-1 {
  margin-inline-start: 0.25rem;
}
.margin-inline-end-1 {
  margin-inline-end: 0.25rem;
}
.margin-inline-1 {
  margin-inline: 0.25rem;
}

.padding-1 {
  padding: 0.25rem;
}
.padding-block-start-1 {
  padding-block-start: 0.25rem;
}
.padding-block-end-1 {
  padding-block-end: 0.25rem;
}
.padding-block-1 {
  padding-block: 0.25rem;
}
.padding-inline-start-1 {
  padding-inline-start: 0.25rem;
}
.padding-inline-end-1 {
  padding-inline-end: 0.25rem;
}
.padding-inline-1 {
  padding-inline: 0.25rem;
}

.margin-2 {
  margin: 0.5rem;
}
.margin-block-start-2 {
  margin-block-start: 0.5rem;
}
.margin-block-end-2 {
  margin-block-end: 0.5rem;
}
.margin-block-2 {
  margin-block: 0.5rem;
}
.margin-inline-start-2 {
  margin-inline-start: 0.5rem;
}
.margin-inline-end-2 {
  margin-inline-end: 0.5rem;
}
.margin-inline-2 {
  margin-inline: 0.5rem;
}

.padding-2 {
  padding: 0.5rem;
}
.padding-block-start-2 {
  padding-block-start: 0.5rem;
}
.padding-block-end-2 {
  padding-block-end: 0.5rem;
}
.padding-block-2 {
  padding-block: 0.5rem;
}
.padding-inline-start-2 {
  padding-inline-start: 0.5rem;
}
.padding-inline-end-2 {
  padding-inline-end: 0.5rem;
}
.padding-inline-2 {
  padding-inline: 0.5rem;
}

.margin-3 {
  margin: 0.75rem;
}
.margin-block-start-3 {
  margin-block-start: 0.75rem;
}
.margin-block-end-3 {
  margin-block-end: 0.75rem;
}
.margin-block-3 {
  margin-block: 0.75rem;
}
.margin-inline-start-3 {
  margin-inline-start: 0.75rem;
}
.margin-inline-end-3 {
  margin-inline-end: 0.75rem;
}
.margin-inline-3 {
  margin-inline: 0.75rem;
}

.padding-3 {
  padding: 0.75rem;
}
.padding-block-start-3 {
  padding-block-start: 0.75rem;
}
.padding-block-end-3 {
  padding-block-end: 0.75rem;
}
.padding-block-3 {
  padding-block: 0.75rem;
}
.padding-inline-start-3 {
  padding-inline-start: 0.75rem;
}
.padding-inline-end-3 {
  padding-inline-end: 0.75rem;
}
.padding-inline-3 {
  padding-inline: 0.75rem;
}

.margin-4 {
  margin: 1rem;
}
.margin-block-start-4 {
  margin-block-start: 1rem;
}
.margin-block-end-4 {
  margin-block-end: 1rem;
}
.margin-block-4 {
  margin-block: 1rem;
}
.margin-inline-start-4 {
  margin-inline-start: 1rem;
}
.margin-inline-end-4 {
  margin-inline-end: 1rem;
}
.margin-inline-4 {
  margin-inline: 1rem;
}

.padding-4 {
  padding: 1rem;
}
.padding-block-start-4 {
  padding-block-start: 1rem;
}
.padding-block-end-4 {
  padding-block-end: 1rem;
}
.padding-block-4 {
  padding-block: 1rem;
}
.padding-inline-start-4 {
  padding-inline-start: 1rem;
}
.padding-inline-end-4 {
  padding-inline-end: 1rem;
}
.padding-inline-4 {
  padding-inline: 1rem;
}

.margin-5 {
  margin: 1.25rem;
}
.margin-block-start-5 {
  margin-block-start: 1.25rem;
}
.margin-block-end-5 {
  margin-block-end: 1.25rem;
}
.margin-block-5 {
  margin-block: 1.25rem;
}
.margin-inline-start-5 {
  margin-inline-start: 1.25rem;
}
.margin-inline-end-5 {
  margin-inline-end: 1.25rem;
}
.margin-inline-5 {
  margin-inline: 1.25rem;
}

.padding-5 {
  padding: 1.25rem;
}
.padding-block-start-5 {
  padding-block-start: 1.25rem;
}
.padding-block-end-5 {
  padding-block-end: 1.25rem;
}
.padding-block-5 {
  padding-block: 1.25rem;
}
.padding-inline-start-5 {
  padding-inline-start: 1.25rem;
}
.padding-inline-end-5 {
  padding-inline-end: 1.25rem;
}
.padding-inline-5 {
  padding-inline: 1.25rem;
}

.margin-6 {
  margin: 1.5rem;
}
.margin-block-start-6 {
  margin-block-start: 1.5rem;
}
.margin-block-end-6 {
  margin-block-end: 1.5rem;
}
.margin-block-6 {
  margin-block: 1.5rem;
}
.margin-inline-start-6 {
  margin-inline-start: 1.5rem;
}
.margin-inline-end-6 {
  margin-inline-end: 1.5rem;
}
.margin-inline-6 {
  margin-inline: 1.5rem;
}

.padding-6 {
  padding: 1.5rem;
}
.padding-block-start-6 {
  padding-block-start: 1.5rem;
}
.padding-block-end-6 {
  padding-block-end: 1.5rem;
}
.padding-block-6 {
  padding-block: 1.5rem;
}
.padding-inline-start-6 {
  padding-inline-start: 1.5rem;
}
.padding-inline-end-6 {
  padding-inline-end: 1.5rem;
}
.padding-inline-6 {
  padding-inline: 1.5rem;
}

.margin-7 {
  margin: 1.75rem;
}
.margin-block-start-7 {
  margin-block-start: 1.75rem;
}
.margin-block-end-7 {
  margin-block-end: 1.75rem;
}
.margin-block-7 {
  margin-block: 1.75rem;
}
.margin-inline-start-7 {
  margin-inline-start: 1.75rem;
}
.margin-inline-end-7 {
  margin-inline-end: 1.75rem;
}
.margin-inline-7 {
  margin-inline: 1.75rem;
}

.padding-7 {
  padding: 1.75rem;
}
.padding-block-start-7 {
  padding-block-start: 1.75rem;
}
.padding-block-end-7 {
  padding-block-end: 1.75rem;
}
.padding-block-7 {
  padding-block: 1.75rem;
}
.padding-inline-start-7 {
  padding-inline-start: 1.75rem;
}
.padding-inline-end-7 {
  padding-inline-end: 1.75rem;
}
.padding-inline-7 {
  padding-inline: 1.75rem;
}

.margin-8 {
  margin: 2rem;
}
.margin-block-start-8 {
  margin-block-start: 2rem;
}
.margin-block-end-8 {
  margin-block-end: 2rem;
}
.margin-block-8 {
  margin-block: 2rem;
}
.margin-inline-start-8 {
  margin-inline-start: 2rem;
}
.margin-inline-end-8 {
  margin-inline-end: 2rem;
}
.margin-inline-8 {
  margin-inline: 2rem;
}

.padding-8 {
  padding: 2rem;
}
.padding-block-start-8 {
  padding-block-start: 2rem;
}
.padding-block-end-8 {
  padding-block-end: 2rem;
}
.padding-block-8 {
  padding-block: 2rem;
}
.padding-inline-start-8 {
  padding-inline-start: 2rem;
}
.padding-inline-end-8 {
  padding-inline-end: 2rem;
}
.padding-inline-8 {
  padding-inline: 2rem;
}

.margin-9 {
  margin: 2.5rem;
}
.margin-block-start-9 {
  margin-block-start: 2.5rem;
}
.margin-block-end-9 {
  margin-block-end: 2.5rem;
}
.margin-block-9 {
  margin-block: 2.5rem;
}
.margin-inline-start-9 {
  margin-inline-start: 2.5rem;
}
.margin-inline-end-9 {
  margin-inline-end: 2.5rem;
}
.margin-inline-9 {
  margin-inline: 2.5rem;
}

.padding-9 {
  padding: 2.5rem;
}
.padding-block-start-9 {
  padding-block-start: 2.5rem;
}
.padding-block-end-9 {
  padding-block-end: 2.5rem;
}
.padding-block-9 {
  padding-block: 2.5rem;
}
.padding-inline-start-9 {
  padding-inline-start: 2.5rem;
}
.padding-inline-end-9 {
  padding-inline-end: 2.5rem;
}
.padding-inline-9 {
  padding-inline: 2.5rem;
}

.margin-10 {
  margin: 3rem;
}
.margin-block-start-10 {
  margin-block-start: 3rem;
}
.margin-block-end-10 {
  margin-block-end: 3rem;
}
.margin-block-10 {
  margin-block: 3rem;
}
.margin-inline-start-10 {
  margin-inline-start: 3rem;
}
.margin-inline-end-10 {
  margin-inline-end: 3rem;
}
.margin-inline-10 {
  margin-inline: 3rem;
}

.padding-10 {
  padding: 3rem;
}
.padding-block-start-10 {
  padding-block-start: 3rem;
}
.padding-block-end-10 {
  padding-block-end: 3rem;
}
.padding-block-10 {
  padding-block: 3rem;
}
.padding-inline-start-10 {
  padding-inline-start: 3rem;
}
.padding-inline-end-10 {
  padding-inline-end: 3rem;
}
.padding-inline-10 {
  padding-inline: 3rem;
}

.margin-11 {
  margin: 4rem;
}
.margin-block-start-11 {
  margin-block-start: 4rem;
}
.margin-block-end-11 {
  margin-block-end: 4rem;
}
.margin-block-11 {
  margin-block: 4rem;
}
.margin-inline-start-11 {
  margin-inline-start: 4rem;
}
.margin-inline-end-11 {
  margin-inline-end: 4rem;
}
.margin-inline-11 {
  margin-inline: 4rem;
}

.padding-11 {
  padding: 4rem;
}
.padding-block-start-11 {
  padding-block-start: 4rem;
}
.padding-block-end-11 {
  padding-block-end: 4rem;
}
.padding-block-11 {
  padding-block: 4rem;
}
.padding-inline-start-11 {
  padding-inline-start: 4rem;
}
.padding-inline-end-11 {
  padding-inline-end: 4rem;
}
.padding-inline-11 {
  padding-inline: 4rem;
}

.margin-12 {
  margin: 5rem;
}
.margin-block-start-12 {
  margin-block-start: 5rem;
}
.margin-block-end-12 {
  margin-block-end: 5rem;
}
.margin-block-12 {
  margin-block: 5rem;
}
.margin-inline-start-12 {
  margin-inline-start: 5rem;
}
.margin-inline-end-12 {
  margin-inline-end: 5rem;
}
.margin-inline-12 {
  margin-inline: 5rem;
}

.padding-12 {
  padding: 5rem;
}
.padding-block-start-12 {
  padding-block-start: 5rem;
}
.padding-block-end-12 {
  padding-block-end: 5rem;
}
.padding-block-12 {
  padding-block: 5rem;
}
.padding-inline-start-12 {
  padding-inline-start: 5rem;
}
.padding-inline-end-12 {
  padding-inline-end: 5rem;
}
.padding-inline-12 {
  padding-inline: 5rem;
}

.margin-13 {
  margin: 6rem;
}
.margin-block-start-13 {
  margin-block-start: 6rem;
}
.margin-block-end-13 {
  margin-block-end: 6rem;
}
.margin-block-13 {
  margin-block: 6rem;
}
.margin-inline-start-13 {
  margin-inline-start: 6rem;
}
.margin-inline-end-13 {
  margin-inline-end: 6rem;
}
.margin-inline-13 {
  margin-inline: 6rem;
}

.padding-13 {
  padding: 6rem;
}
.padding-block-start-13 {
  padding-block-start: 6rem;
}
.padding-block-end-13 {
  padding-block-end: 6rem;
}
.padding-block-13 {
  padding-block: 6rem;
}
.padding-inline-start-13 {
  padding-inline-start: 6rem;
}
.padding-inline-end-13 {
  padding-inline-end: 6rem;
}
.padding-inline-13 {
  padding-inline: 6rem;
}

.margin-14 {
  margin: 8rem;
}
.margin-block-start-14 {
  margin-block-start: 8rem;
}
.margin-block-end-14 {
  margin-block-end: 8rem;
}
.margin-block-14 {
  margin-block: 8rem;
}
.margin-inline-start-14 {
  margin-inline-start: 8rem;
}
.margin-inline-end-14 {
  margin-inline-end: 8rem;
}
.margin-inline-14 {
  margin-inline: 8rem;
}

.padding-14 {
  padding: 8rem;
}
.padding-block-start-14 {
  padding-block-start: 8rem;
}
.padding-block-end-14 {
  padding-block-end: 8rem;
}
.padding-block-14 {
  padding-block: 8rem;
}
.padding-inline-start-14 {
  padding-inline-start: 8rem;
}
.padding-inline-end-14 {
  padding-inline-end: 8rem;
}
.padding-inline-14 {
  padding-inline: 8rem;
}

.margin-15 {
  margin: 10rem;
}
.margin-block-start-15 {
  margin-block-start: 10rem;
}
.margin-block-end-15 {
  margin-block-end: 10rem;
}
.margin-block-15 {
  margin-block: 10rem;
}
.margin-inline-start-15 {
  margin-inline-start: 10rem;
}
.margin-inline-end-15 {
  margin-inline-end: 10rem;
}
.margin-inline-15 {
  margin-inline: 10rem;
}

.padding-15 {
  padding: 10rem;
}
.padding-block-start-15 {
  padding-block-start: 10rem;
}
.padding-block-end-15 {
  padding-block-end: 10rem;
}
.padding-block-15 {
  padding-block: 10rem;
}
.padding-inline-start-15 {
  padding-inline-start: 10rem;
}
.padding-inline-end-15 {
  padding-inline-end: 10rem;
}
.padding-inline-15 {
  padding-inline: 10rem;
}

.container {
  --padding: 1rem * 2;
  --max-width: 64rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type=narrow] {
  --max-width: 40rem;
}

.container[data-type=wide] {
  --max-width: 75rem;
}

.container[data-type=full-bleed] {
  --max-width: 100%;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fw-light {
  font-weight: 300;
}

.box-shadow-1 {
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.012), 0px 22px 18px rgba(0, 0, 0, 0.018), 0px 100px 80px rgba(0, 0, 0, 0.03);
}

.box-shadow-2 {
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.016), 0px 22px 18px rgba(0, 0, 0, 0.024), 0px 100px 80px rgba(0, 0, 0, 0.04);
}

.box-shadow-3 {
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.02), 0px 22px 18px rgba(0, 0, 0, 0.03), 0px 100px 80px rgba(0, 0, 0, 0.05);
}

.box-shadow-4 {
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.03), 0px 22px 18px rgba(0, 0, 0, 0.042), 0px 100px 80px rgba(0, 0, 0, 0.07);
}

.box-shadow-5 {
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.04), 0px 22px 18px rgba(0, 0, 0, 0.06), 0px 100px 80px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.ff-base {
  font-family: "Lexend", sans-serif;
}

.ff-accent {
  font-family: "Lexend", sans-serif;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: var(--flex-column-gap, 1rem);
       column-gap: var(--flex-column-gap, 1rem);
  row-gap: var(--flex-row-gap, 0.5rem);
  width: -moz-fit-content;
  width: fit-content;
}

.flex-group.mx-auto {
  justify-content: center;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.border-radius-1 {
  border-radius: 0.5rem;
}

.border-radius-2 {
  border-radius: 1rem;
}